################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Railcar-Trips/bin/Debug/net10.0
/Railcar-Trips/obj
