@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Railcar Trips!</h1>

Process railcar or equipment events into trips from a CSV file using the <a href="/railcartrips" target="_blank">Railcar Trips</a> Page.
