@page "/railcartrips"
@using Railcar_Trips.Data
@using Railcar_Trips.Data.Models
@rendermode InteractiveServer
@inject RailcarTripsDbContext context

<PageTitle>Railcar Trips</PageTitle>

<h1>Upload Railcar or Equipment CSV file</h1>

@* Must be csv file *@
<InputFile OnChange="ReadCsv" accept=".csv" class="form-control" />

<p />

<h1>Grid</h1>

<p>This component demonstrates showing data.</p>

@*if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@code {

    private async Task ReadCsv(InputFileChangeEventArgs e)
    {
        var ReleasedEvents = new List<Event>();
        var PlacedEvents = new List<Event>();

        var Trips = new List<Trip>();

        // TODO: handle csv file that doesn't match expected format

        // Assuming valid input file
        var file = e.File;

        using var stream = file.OpenReadStream();
        using var reader = new StreamReader(stream);

        string? line;
        var skipHeaders = false;

        while ((line = await reader.ReadLineAsync()) != null)
        {
            if (!skipHeaders)
            {
                skipHeaders = true;
                continue;
            }

            var data = line.Split(',');

            // Assuming valid data
            var EquipmentId = data[0];
            var EventCode = data[1];
            var EventTime = DateTime.Parse(data[2]);
            var CityId = Convert.ToInt32(data[3]);

            switch (EventCode)
            {
                case "W":
                    ReleasedEvents.Add(new Event
                    {
                        EquipmentId = EquipmentId,
                        EventCode = EventCode,
                        EventTime = EventTime,
                        CityId = CityId
                    });

                    // Create new trips from released events
                    Trips.Add(new Trip
                    {
                        EquipmentId = EquipmentId,
                        StartUTC = EventTime,
                        OriginCityId = CityId
                    });

                    break;
                case "Z":
                    PlacedEvents.Add(new Event
                    {
                        EquipmentId = EquipmentId,
                        EventCode = EventCode,
                        EventTime = EventTime,
                        CityId = CityId,
                    });
                    break;
                default:
                    break;
            }
        }

        // Save To DB
        context.Events.AddRange(ReleasedEvents);
        context.Events.AddRange(PlacedEvents);
        context.Trips.AddRange(Trips);
        context.SaveChanges();

        // End trips with placed events
        // This assumes that the events are in order by start and end time *** will need to sort lists first
        foreach (var Event in PlacedEvents)
        {
            // Find the trip with the same equipment id that doesn't have an end time yet
            var trip = Trips.FirstOrDefault(t => t.EquipmentId == Event.EquipmentId && t.EndUTC == null);

            // If a trip is found, Update the trip with the end time and destination city
            if (trip != null)
            {
                trip.EndUTC = Event.EventTime;
                trip.DestinationCityId = Event.CityId;

                // calculate TotalTripHours
                trip.TotalTripHours = (trip.EndUTC - trip.StartUTC)?.TotalHours;

                // Save changes to the trip in the database
                context.Trips.Update(trip);
            }
        }

        // Update DB
        context.SaveChanges();
    }

    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}

